<ion-app>

  <ion-split-pane contentId="main" menuId="menuprincipal">

    <ion-menu contentId="main">
      <ion-header>
        <ion-toolbar>
          <ion-title class="subtitulo">Menu</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-menu-toggle autoHide="false">
          <ion-item button="true" detail="true" [routerLink]="'set-productos'">
            <ion-icon name="create" slot="start"></ion-icon>
            <ion-label class="normal">Configurar productos</ion-label>
          </ion-item>
        </ion-menu-toggle>


      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
