<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">
      Gas App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gas App</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
 
    <div class="alert alert-primary" role="alert">
      A simple primary alert—check it out!
    </div>
 
    <h1 class="titulo">Este es un titulo</h1>
    <h3 class="subtitulo">Es un subtitulo de resumen</h3>
    <p class="normal">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel quae, ab temporibus reiciendis consequuntur quod iste. Voluptates, architecto facere. Eius rem ex pariatur eum illum facere earum distinctio cum doloremque!
    </p>
  </div>
</ion-content>
